*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #B5BFC8;
    color: #333333;
    font-family: 'Roboto', 'sans-serif';
}

h1{
    color:rgb(177, 32, 32);
    margin: 0 auto;
    font-family: 'Roboto', 'sans-serif';

}
header{
    position: sticky;
    top: 0;
    z-index: 1000;

}

nav {
    background-color: #de700e;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 50px;
}
nav ul li a {
    font-size: 24px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #ffff;
    background-color: #37434f;
}
li a{
    color: #ffff;
    background-color: #37434f;
}
li a:hover{
    background-color: #000000;
    transition: 1.5s;
}


.txt{
    margin: 2rem 0;
    font-size: 1.3rem;
    font-family: 'Open Sans',"sans-serif";
    margin-left: 10px;
    width: 500px;
    text-align: justify;
    color: black
    
    
}

section.taller{
    background:linear-gradient(to left, rgb(82,82,82), rgb(82, 82, 82));
    padding: 3rem 0;
}

.ima {
    
    width: 10%; /* Ocupa la mitad de la página */
     /* Ajusta la altura automáticamente */
    margin-left: 600px;
    margin-top: 100px;
}

.ima2 {
    margin-right: 10px; /* Agrega espacio entre la imagen y el texto */
    float: right;
}

h1{
    margin-left: 10px;
}

.BoxMotor {
     
  }

